/*classes */

.container{
	width:100%;
}
.jtron{
	background-image:url("img/pizza1.jpg");
      background-size: cover;
      padding-top: 20%;
      padding-bottom: 20%;
			background-position: top center;
  	height: auto;
		width:100%;
}

.wide-btn {
	width:100%;
	margin-top:-54px;
}

.intro {
		border-bottom: 5px solid red;
		padding-bottom: 10px;
}

.who {
		border-bottom: 3px solid green;
		border-radius: 10%;
}

#box {
		display:block;
		border-radius:1%;
		border-bottom: 5px solid green;

}

div .img-thumbnail {
		width: 200px;
    height: 200px;
		object-fit:cover;
}

div .boxtwo {
			padding: 20px;

}

.display-4{
		font-size:20px;
		color:black;
}

.bg-light {
	background-color:white;
	
}

.pizzaicon

{
	width: 200px;
	height: 200px;
}
/*navbar stuff*/


.navbar-custom, .navbar-light, .navbar, .nav {
    background-color: #ffffff;
	border-bottom: 5px solid red;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(0,0,0,.8);
		
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link , .navbar-toggler-icon {
    color: rgba(0,0,0,.8);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,0,0);
}



.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*navbar stuff*/





/*main elements*/

p {
	color: #808080;
	font-family:Roboto,sans-serif;
}

body {
	padding-top: 1.5px;
}

ul a {
	color:white;
}

div header {
		border-radius: 1%;
}

div .img-thumbnail {
			border-top: 4px solid red;

}

/*media queries*/

@media all and (max-width:500px){
	
	.jtron {
		padding-top: 200px;
		height: 300px;
	}
	

	

	@media all and   (max-width:900px){
			#box {
		border-top: 0px;
	  }
		
	
}